{{ partial "header" . }}

<div class="container">
	<div class="page-header">
		<h1>Lectures</h1>
	</div>

	{{ range (.Data.Pages.GroupByParam "course") }}
	{{ range (.Pages.GroupByParam "year").Reverse }}
	{{ range (.Pages.GroupByParam "semester") }}
	{{ $params := (index .Pages 0).Params }}
	<h2>{{ $params.course }} - {{ $params.semester }} {{ $params.year }}</h2>

	{{ range .Pages.ByDate.Reverse }}
	{{ if and (isset .Params "has_page") (.Params.has_page) }}
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
	{{ else }}
	<h3><a href="{{ .Params.slides }}">{{ .Title }}</a></h3>
	{{ end }}

	<p><small>{{ .Date.Format "2006-01-02" }} // {{ .Params.author }}</small></p>

	<p>{{ .Params.summary }}</p>
	{{ end }}

	{{ end }}
	{{ end }}
	{{ end }}
</div>

{{ partial "footer" . }}