{{ partial "header" . }}

<div class="container">
	<div class="page-header">
		<h1>{{ .Title }}{{ if .Params.subtext }} <small>{{ .Params.subtext }}</small>{{ end }}</h1>
	</div>

	{{ if not .Params.active }}
	<div class="alert alert-warning">
		<p><strong>Heads Up!</strong> - This is the course page for a non-current course.</p>
	</div>
	{{ end }}

	<div class="row">
		<div class="col-md-8">
			{{ .Content }}
		</div>
		<div class="col-md-4">
			{{ .TableOfContents }}
		</div>
	</div>
</div>

{{ partial "footer" . }}