	<div class="jumbotron text-center" style="margin-top: -20px;">
		<div class="container">
			<h1>Learn &amp; Live Security</h1>
			<p>University at Buffalo Network Defense is a Cyber Security class &amp; club</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center">LEARN</h2>
				<p>Everybody likes learning! Even super hackers like you! Some people have a hard time with it, so here are some sources.</p>
			</div>

			<div class="col-md-4">
				<h2 class="text-center">DO</h2>
				<p>Do what you do best! Destroy other people's lives without even touching a mouse. Delete bank accounts and change facebook profile pictures.</p>
			</div>

			<div class="col-md-4">
				<h2 class="text-center">COMPETE</h2>
				<p>Prove you are the best! Take down entire corporations, claiming their destruction as your victory!</p>
			</div>
		</div>
	</div>