	<div class="jumbotron text-center" style="margin-top: -20px;">
		<div class="container">
			<h1>Learn &amp; Live Security</h1>
			<p>University at Buffalo Network Defense is a Cyber Security class &amp; club</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center">LEARN</h2>
				<p>Whether you're already a kali wiz or don't know what kali is, learn marketable skills in a growing field. Working in a colaborative environment, everyone is welcome and it's never to late to start.</p>
			</div>

			<div class="col-md-4">
				<h2 class="text-center">BUILD</h2>
				<p>Take what you learn past concepts. Design and build your very own full scale network to give practical meaning to the knowlege that you aquire. </p>
			</div>

			<div class="col-md-4">
				<h2 class="text-center">COMPETE</h2>
				<p>Step up and take your skills to the next level. Join a UBNetDef team and travel to competitions, where you can go head to head with top schools to compete for fame and prizes.</p>
			</div>
		</div>
	</div>
